<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<div th:fragment="leftMenu">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav slimscrollsidebar">
            <div class="sidebar-head">
                <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span
                        class="hide-menu">Navigation</span></h3>
            </div>
            <ul class="nav" id="side-menu">
                <li style="padding: 70px 0 0;">
                    <a th:href="@{/systemList}" class="waves-effect"><i class="fa fa-clock-o fa-fw"
                                                                            aria-hidden="true"></i>系统设置</a>
                </li>
                <li>
                    <a th:href="@{/userList}" class="waves-effect"><i class="fa fa-user fa-fw"
                                                                          aria-hidden="true"></i>用户管理</a>
                </li>
                <li>
                    <a th:href="@{/knowledgeList}" class="waves-effect"><i class="fa fa-table fa-fw"
                                                                               aria-hidden="true"></i>知识结构管理</a>
                </li>

                <li>
                    <a th:href="@{/questionList}" class="waves-effect"><i class="fa fa-columns fa-fw"
                                                                              aria-hidden="true"></i>题库管理</a>
                </li>
                <li>
                    <a th:href="@{/errorPage}" class="waves-effect"><i class="fa fa-info-circle fa-fw"
                                                               aria-hidden="true"></i>Error 404</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>