<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="common/common_css::commonCss">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon.png}">
    <title>账户设置</title>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body class="fix-header">


<div id="wrapper">

    <div th:include="common/top::topMenu"></div>

    <div th:include="common/left_user_menu::leftMenu"></div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">用户测试</h4> </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                </div>

            </div>
            <div class="row ">
                <form class="form-horizontal" role="form" id="userQuestionsForm">
                    <div class="form-group" >
                        <label id="questionTitle" class="col-sm-2 control-label"></label>
                        <div class="col-sm-6">
                            <select id="questionId" class="form-control">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" onclick="saveQuit()" class="btn btn-success" style="width:100px;">保存退出</button>
                            &nbsp;&nbsp;
                            <button type="button" onclick="nextQues()" class="btn btn-warning" style="width:100px;">继续答题</button>

                        </div>
                    </div>
                </form>


            </div>


        </div>

        <footer class="footer text-center"> 2021 &copy;Online Test System</footer>
    </div>

</div>

<div th:include="common/common_js::commonJs"></div>
<script>
    /*<![CDATA[*/
    ctxPath = /*[[@{/}]]*/ '';
    /*]]>*/
</script>
<script>
    $(function () {
        loadQuestion()
    })
    function  loadQuestion() {
        $.ajax({
            url:ctxPath+"getNextQuestion",
            type:'POST',
            success:function (data) {
                var options = data.data.data.questionOptions.split(",");
                var optionStr = "";
                $(options).each(function ( i,item) {
                    optionStr = optionStr + "<option value='"+item+"'>"+item+"</option>";
                })
                $("#questionId").empty();
                $("#questionId").append(optionStr);
                $("#questionId").attr("data-answer",data.data.data.questionCorrectAnswer);
                $("#questionId").attr("data-id",data.data.data.id);
                $("#questionTitle").append(data.data.data.questionDesc);
            }
        })
    }
     function saveQuit() {

         saveQuestion("/userHome");
    }

    function nextQues(){
        saveQuestion("/userQuestion");
    }
    function saveQuestion(url) {
        var questionId = $("#questionId").attr("data-id");
        var answer = $("#questionId").attr("data-answer"); //正确答案
        var userAnswer = $("#questionId option:selected").val().split(".")[0];//用户选择的答案
        var userQuestionStatus = 0;//没答对
        if (answer == userAnswer){
            userQuestionStatus = 1;//答对了
        }
        $.ajax({
            url:ctxPath+"saveUserQuestions",
            data:{
                "questionId":questionId,
                "userQuestionStatus":userQuestionStatus
            },
            type:'POST',
            success:function (data) {
                if (data.code == '1'){
                    window.location.href = ctxPath +url;
                }else {
                    alert("操作失败");
                }
            }
        })
    }
</script>
</body>

</html>