<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="common/common_css::commonCss">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon.png}">
    <title>我的知识画像</title>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<body class="fix-header">

<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>

<div id="wrapper">


    <div th:include="common/top::topMenu"></div>

    <div th:include="common/left_user_menu::leftMenu"></div>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">我的知识画像</h4> </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                </div>

            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div id="chart" style="width: 800px;height: 300px;"></div>
                    </div>
                </div>
            </div>

        </div>

        <footer class="footer text-center"> 2019 &copy;Online Test System</footer>
    </div>

</div>

<div th:include="common/common_js::commonJs"></div>

<script>

    $(function(){
    });
    function  initChartOption(xAxis,val) {
        var  option = {
            title : {
                text: '用户知识结构图'
            },

            xAxis : [
                {
                    type : 'category',
                    data : xAxis
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'掌握度',
                    type:'bar',
                    data:val,

                }
            ]
        };
        return option;
    }
    getData();
    function getData() {

        $.ajax({
            url:ctxPath+"getUserKnowledgeCharts",
            type:'POST',
            success:function (data) {
                var xAxis = [];
                var values = [];
               $(data.data.data).each(function (i,item) {
                   xAxis.push(item.xaxis);
                   values.push(item.value);
               });
               var option = initChartOption(xAxis,values);
                var myChart = echarts.init(document.getElementById("chart"));
                myChart.setOption(option);

            }
        })
    }
</script>

</body>

</html>